{:deps
 {org.clojure/core.async   {:mvn/version "1.3.610"}
  com.taoensso/encore      {:mvn/version "3.12.1"}
  org.java-websocket/Java-WebSocket {:mvn/version "1.5.1"}
  org.clojure/tools.reader {:mvn/version "1.3.5"}
  com.taoensso/timbre      {:mvn/version "5.1.2"}}
 }
